<html>
	<head>
		<title th:text="${document.name}"></title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<style>
			table {
			  font-family: arial, sans-serif;
			  border-collapse: collapse;
			  width: 50%;
			}
			
			td, th {
			  border: 1px solid black;
			  text-align: left;
			  padding: 8px;
			}
			
			tr:nth-child(even) {
			  background-color: #dddddd;
			}
		</style>
	</head>
	<body>
		<table>
			<tbody>
				<tr>
					<th>Document Name</th>
					<th>Latest Revision</th>
					<th>Latest Timestamp</th>
				</tr>
				<tr>
					<td th:text="${document.name}"></td>
					<td th:text="${document.numberOfRevisions}"></td>
					<td th:text="${document.latestRevisionTimestamp}"></td>
				</tr>
			</tbody>
		</table>
	</body>
</html>
